<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Meme Kombat</title>
  <meta name="description" content="Escolha seu meme favorito e destrua seus amigos na arena neste incrível jogo de luta de memes">
  <meta name="author" content="Rogério Chaves">

  <meta property="og:title" content="Meme Kombat" />
  <meta property="og:type" content="game" />
  <meta property="og:url" content="<%= process.env.FACEBOOK_APP_URL %>" />
  <meta property="og:image" content="<%= process.env.CDN %>img/logo_post.png" />
  <meta property="og:site_name" content="Meme Kombat" />
  <meta property="fb:app_id" content="<%= process.env.FACEBOOK_APP_ID %>" />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Gloria Hallelujah">
  <style type="text/css">
    body{margin:0 auto; padding:0; border:2px solid #DDD; width:760px; font-family: 'Gloria Hallelujah', "Lucida Grande", Tahoma, sans-serif; background:#FFF url(/images/bg2.jpg) center 0; border-width: 0 2px; height: 650px;}
    .bg{height: 100%; background:#FFF url(/img/bg.jpg) center 0; width: 760px;}
    .content{width: 450px; margin: 0 auto; padding-top:100px;}
    h2, h1{font-weight: normal;}
    h2{font-size: 15px; padding:0; color: #999; text-align: center;}
    hr{border: none; margin-top: -5px; margin-bottom: 50px; width: 350px;}
    .derp{width: 80px; height: 80px; background: url(/images/derp.gif) no-repeat; float: left;}
    .jogar_agora{margin: 30px 0 0 40px;}
    .jogar_agora a{display: block; float: left; text-decoration: underline; color: #333; margin-left: 20px;}
    .jogar_agora h1{font-size: 30px; float: left;}
    .jogar_agora a:hover{text-decoration: none;}
    .jogar_agora a img{float: left; margin: 30px 0 0 20px;}
    .clear{clear:both}

    .yuno{position: absolute; margin:100px 0 0 -265px; width: 220px; text-align: center;}
    .championist{position: absolute; margin-left: -252px; bottom:0}
    .ui{position: absolute; margin: 130px 0 0 800px; width: 224px; text-align: center;}
    .puking-rainbow{position: absolute; margin-left: 761px; bottom:0}

    .nyan .cat{position: absolute; left:0; top:20px; z-index:1}
    .nyan .rainbow{position: absolute; background: url(/img/habilidades/nyan-cat-rainbow.gif); width: 46px; height: 54px; left:0; top:23px;}
  </style>
</head>
<body>
<div class="yuno">
  <img src="/images/yuno.png" /><br>
  Y U NO Playing Meme Kombat yet?
</div>
<div class="championist">
  <img src="/images/championist.png" />
</div>

<div class="ui">
  <img src="/images/ui.png" /><br>
  Ui, Meme Kombat!
</div>
<div class="puking-rainbow">
  <img src="/images/puking-rainbow.png" />
</div>

<div class="nyan">
  <div class="rainbow"></div>
  <div class="cat"><img src="/img/habilidades/nyan-cat.gif"></div>
</div>

<div class="bg">
  <div class="content">
    <h2>Escolha seu meme e destrua seus amigos</h2>
    <hr />
    <div class="logo"><img src="/images/meme-kombat-logo.png" alt=""></div>
    <div class="jogar_agora">
      <div class="derp"></div>
      <a href="http://apps.facebook.com/meme_kombat">
        <h1>Jogar Agora</h1>
        <img src="/images/ico-fb.png" alt="" border="0">
      </a>
      <div class="clear"></div>
    </div>
  </div>
</div>
  
<script src="<%= process.env.CDN %>js/libs/jquery-1.6.2.min.js"></script>
<script type="text/javascript">
  (function anim(){
    $('.nyan .cat').animate({
      left: '100%'
    }, 1e4 * 4);
    $('.nyan .rainbow').animate({
       width: '105%'
    }, 1e4 * 4, function(){
      $('.nyan .rainbow').fadeOut(5000, function(){
        $('.nyan .cat').css({left: 0});
        $('.nyan .rainbow').css({width: '46px'}).show();
        anim();
      });
    });
  })();
</script>

</body>
</html>