<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <style type="text/css" media="screen">
  	body{width: 780px; margin: 0 auto; text-align: center; font-family:"Lucida Grande", Tahoma, Arial, sans-serif;}
  	h1{font-size: 36px; color: #000;}
  	h2{font-size: 25px; color: #999;}
  </style>
</head>
<body>
	<h1>Meme Kombat is offline to maintance</h1>
	<h2>Meme Kombat está offline para manutenção</h2>
	<img src="img/big_rage.jpg" alt="FFFFUUUUU" />
	<h1 style="font-size:26px">Thank you for understanding, we'll be back in minutes</h1>
	<h2 style="font-size:20px">Agradecemos a compreensão, voltaremos em minutos</h2>
</body>
</html>