<h1>Privacy Policy</h1>
<h2>Effective August 1, 2021</h2>

 
<p>Welcome to Meme Kombat. Meme Kombat respects the privacy rights of our users and is committed to protecting the information collected on its application. We have adopted this privacy policy to explain how we collect, store and use the information collected. All of these policies and disclosures are collectively referred to in this document as the “Privacy Policy”. By accessing and using our game (the “Meme Kombat”), you are signifying your acceptance of policy stated in this document (the “Privacy Policy”).</p>
 <br>
<h3>What does this Privacy Policy apply to?</h3>
 <br>
<p>This Privacy Policy applies solely to Meme Kombat game located at memekombat.rchaves.app and apps.facebook.com/meme_kombat. This Privacy Policy does not apply to any other web sites (even those that are referenced on, or linked to through, Meme Kombat) or websites maintained by other companies or organizations.</p>
<p>By using and submitting personal information Meme Kombat, you signify your assent to this Privacy Policy. If you do not agree to this Privacy Policy, please do not use Meme Kombat. We reserve the right to make changes to this Privacy Policy. Please check back from time to time to ensure that you are aware of these changes. If we make a material change to this Privacy Policy, we will notify you by posting the change on Meme Kombat website and, if necessary, give you additional choices regarding such change. Your continued use of Meme Kombat will signify your acceptance of these changes.</p>
 <br>
<h3>How does Meme Kombat collect information?</h3>
 
<p>In connection with the game, Meme Kombat collects information from you in three ways.</p>
 
<p>1. When you play, information about your game play may be collected and transmitted to Meme Kombat. Meme Kombat may use such information in connection with Meme Kombat as set forth in this Privacy Policy whether or not you register on or use Meme Kombat.</p>
 
<p>2. You may choose to voluntarily provide us with the name and photo from the platform identity used to sign-in (Facebook, Twitter, Google or email) and non-personal information through your use of Meme Kombat.</p>
 
<p>3. We may automatically collect certain non-personal information from you in connection with your use of Meme Kombat.</p>
 <br>
<h3>What information does Meme Kombat collect?</h3>
 
<p>Meme Kombat may receive information regarding your game play and usage without any additional notice to you or actions taken by you. Meme Kombat will not receive personal information such as your address but may receive other information such as your email address (depending on sign-in method), game played, game score, performance, Internet Protocol (IP) address or other information and statistics regarding your usage of the games.</p>
 
<p>Meme Kombat may also passively collect certain information about your use of Meme Kombat, such as the pages you visit and the features you use (see “Cookies” below).</p>
 <br>

<h3>What happens if I refuse to provide my personal information?</h3>
 
<p>Your refusal to submit personal information may limit your ability to participate in some activities on Meme Kombat. However, as described above, Meme Kombat may nonetheless post game play boards that contain certain information as a result of your use of the games.</p>
 <br>
<h3>Does Meme Kombat use cookies, track IP Addresses or use other passive means to collect information?</h3>
 
<p>Meme Kombat use cookies exclusively for tracking the sign in session. A “cookie” is a small bit of record-keeping information that websites often store on a user’s computer. Cookies do not include people’s names, e-mail addresses, or other information that is personally identifiable; they are used just to quickly identify a user’s computer and to “remember” it. You can always disable cookies or set your browser to alert you when cookies are being sent to your computer; however, disabling cookies may affect your ability to use certain portions of Meme Kombat.</p>
 
<p>Other information that may be passively collected by Meme Kombat includes log files that record website activity, including how many “hits” a particular web page is getting (a.k.a. “navigational data”). These entries are generated anonymously and enable Meme Kombat to assess overall online activity and a user’s browsing habits, track interest in advertised sales, and troubleshoot technical concerns. We also use the log file entries for our internal marketing and demographic studies, so we can constantly improve the online services we provide you.</p>
 <br>
 <br>
<h3>With whom does Meme Kombat share my personal information?</h3>
 
<p>Meme Kombat does not share your personal information with any third parties. In the event we offer services or promotions where your information is separately collected and used according to the privacy policy of a third-party, we will inform you of that at the time of collection and you may elect not to participate in the service or promotion We also may share your information with third parties as required by law enforcement or other government officials in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose you or us to legal liability. In addition, in the event of a merger, acquisition, reorganization, bankruptcy, or other similar event involving all or a portion of Meme Kombat, Meme Kombat’s customer information may be transferred to our successor or assign.
 <br>
<h3>How do I delete my account?</h3>
 
<p>If for any reason you wish to delete your account and all the personal information collected about you, simply click the "Delete Account" button at the bottom of the page inside the game, it's one simple confirmation and doesn't require any intervention from us. Be aware that all your data will be wiped-out, and the process is not reversible</p>
 <br>

© 2012 Meme Kombat. All rights reserved.
