 <html>
    <head>
      <title>My Facebook Credits Page</title>
    </head>
    <body>
      <div id="fb-root"></div>
      <script src="//connect.facebook.net/pt_BR/all.js#appId=<%= process.env.FACEBOOK_APP_ID %>&xfbml=1"></script>
      
<p> <a onclick="getMore(); return false;">Get More</a></p>

<script>

	FB.init({
	    appId: '<%= process.env.FACEBOOK_APP_ID %>',
    	status: true,
    	cookie: true,
    	xfbml : true, // parse XFBML 
		channelUrl : '<%= process.env.FACEBOOK_APP_HOME %>channel.html'
    });

  /*FB.login(function(response) {
  		console.log(response);
	   if (response.authResponse) {
	     console.log('Welcome!  Fetching your information.... ');
	     /*FB.api('/me', function(response) {
	       console.log('Good to see you, ' + response.name + '.');
	       FB.logout(function(response) {
	         console.log('Logged out.');
	       });
	     });*/
	   /*} else {
	     console.log('User cancelled login or did not fully authorize.');
	   }
 }, {scope: 'email'});*/

 function getMore(){
    // Initialization
    

    // calling the API ...
    var obj = {
         method: 'pay',
         credits_purchase: true,
         purchase_type:"item"
    };
    /*console.log('?');

    FB.ui({method: 'apprequests',
	    message: 'Seja meu pupilo'
	  }, function(){});*/

    FB.ui(obj, function(){});



 }
</script>
</body>
 </html>