<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:fb="https://www.facebook.com/2008/fbml">
  <head>
    <title>My Facebook Credits Page</title>
  </head>
  <body>
    <div id='fb-root'></div>
    <script src='https://connect.facebook.net/pt_BR/all.js'></script>
    <p><a href="#" onclick='placeOrder(); return false;'>Buy Stuff</a></p>
    
    <script> 
      FB.init({appId: "183114805092475", status: true, cookie: true});

      function placeOrder() {
        alert("yodolei");
        // Assign an internal ID that points to a database record
        var order_info = 'abc123';

        // calling the API ...
        var obj = {
          method: 'pay',
          order_info: order_info,
          purchase_type: 'item',
          dev_purchase_params: {'oscif': true}
        };

        FB.ui(obj, callback);
      }
    
      var callback = function(data) {
        if (data['order_id']) {
          return true;
        } else {
          //handle errors here
          return false;
        }
      };

    </script>
  </body>
</html>