html{overflow:auto}
body{margin:0 auto; width:760px; border:2px solid #DDD; border-top:none; font-family: 'Gloria Hallelujah', "Lucida Grande", Tahoma, Arial, sans-serif; background:#FFF url(../img/bg.jpg) center 0;}
h1{color:#85868A; font-size:35px; font-weight:normal;}
a{color:#000!important;}
a:hover{text-decoration: none; color: #333!important;}

#wrapper-luta{width:760px; height:255px;}
#luta{width:760px; height:265px; overflow:hidden; position:absolute;}
.personagem{margin:120px 0 0 130px; position:absolute;}
.personagem[rel='1']{margin:130px 0 0 570px;}
	.personagem a{width:79px; height: 79px; position: absolute; z-index:6; color: #000; text-decoration: none;}
	.personagem a .perfil, a.player .perfil{position: absolute; background-image: url(../img/balao-perfil.png); width: 152px; height: 74px; margin: -75px 0 0 -40px; padding: 7px 7px 0 7px; opacity:0; filter: alpha(opacity = 0); transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear;}
	a.player .perfil{margin:-120px 0 0 -45px; display: none;}
		.personagem .perfil img, .personagem .info, .player .perfil img, .player .info{float: left; width: 48px}
		.personagem .perfil .info, .player .perfil .info{margin-left: 10px; font-size: 14px; line-height: 26px;}
	.personagem a:hover .perfil, a.player:hover .perfil{display: block; text-decoration: none; cursor: pointer; z-index:999; opacity:1; filter: alpha(opacity = 100); transition: opacity 0.1s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear;}
.dano{position:absolute; font-size:25px; color:#000; z-index:2; text-shadow:2px 2px 3px #999; text-align: center;}
.dano small{font-size: 12px;}
.arma{position:absolute;}
.objeto{position:absolute;}
.loading{background:url(../img/loading.gif); width:16px; height:16px; position:absolute; margin:100px 371px; display:none;}
.hp{position:absolute; z-index:5;}
	.hp .bar{background-repeat:no-repeat;}
.hp.player{background:url(../img/hp_player_bg.png); width:290px; height:59px; margin:-10px 0 0 -7px;}
	.hp.player .bar{background:url(../img/hp_player.png); width:257px; height:25px; margin:14px 0 0 10px;}
.hp.enemy{background:url(../img/hp_enemy_bg.png); width:297px; height:68px; margin:-19px 0 0 472px;}
    .hp.enemy .bar{background:url(../img/hp_enemy.png); width:258px; height:31px; margin:20px 0 0 22px;}

.topo{height:114px; background:url(../img/fundo-topo.png); position:absolute; z-index:10; width:760px;}
	.logo{width:279px; height:91px; float:left;}
		.logo img{margin:10px 0 0 27px;}
	.menu{float:left; margin:25px 0 0 25px; background:url(../img/fundo-menu.jpg); width:293px; padding:0 0 0 20px; height:66px; list-style:none;}
		.menu li{float:left; margin-right:32px; font-size:15px; margin-top:22px;}
			.menu li a{text-decoration:none; color:#000;}
			.menu li a:hover{text-decoration:underline;}
		.menu li.last{margin-right:0;}

.megusta_button{position:absolute; margin:13px 0 0 630px; width:110px; height:50px; background: url(../img/topo-megusta.png) no-repeat 8px 0; padding-top:42px;}

.meme{background:url(../img/memes.png); width:111px; height:111px;}
	.meme.small{background:url(../img/memes_small.png); width:50px; height:50px;}
	.meme.derpina{background:url(../img/memes_derpina.png);}
	.meme.small.derpina{background:url(../img/memes_derpina_small.png);}
.memes{margin-left:55px; margin-top:30px; padding:0; list-style:none; width:672px;}
	.memes li{float:left; cursor:pointer; border:1px solid #FFF; margin:0 21px 21px 0; width:111px; height:111px; background:url(../img/memes.png);}
	.memes li.derpina{background:url(../img/memes_derpina.png);}
		.memes li:hover{border:1px solid #000;}
	.memes li.demente, .meme.demente{background-position:0 0;}
	.memes li.rage, .meme.rage{background-position:-111px 0;}
	.memes li.fuckyea, .meme.fuckyea{background-position:-222px 0;}
	.memes li.forever_alone, .meme.forever_alone{background-position:-333px 0;}
	.memes li.yuno, .meme.yuno{background-position:-444px 0;}
	.memes li.pokerface, .meme.pokerface{background-position:0 -111px;}
	.memes li.challenge, .meme.challenge{background-position:-111px -111px;}
	.memes li.serious, .meme.serious{background-position:-222px -111px;}
	.memes li.megusta, .meme.megusta{background-position:-333px -111px;}
	.memes li.lol, .meme.lol{background-position:-444px -111px;}
	.memes li.okay, .meme.okay{background-position:0 -222px;}
	.memes li.fodase, .meme.fodase{background-position:-111px -222px;}
	.memes li.troll, .meme.troll{background-position:-222px -222px;}
	.memes li.fap, .meme.fap{background-position:-333px -222px;}
	.memes li.cereal_guy, .meme.cereal_guy{background-position:-444px -222px;}
	.meme.small.demente{background-position: 0 0;}
	.meme.small.rage{background-position: -50px 0;}
	.meme.small.fuckyea{background-position: -100px 0;}
	.meme.small.forever_alone{background-position: -150px 0;}
	.meme.small.yuno{background-position: -200px 0;}
	.meme.small.pokerface{background-position: 0 -50px;}
	.meme.small.challenge{background-position: -50px -50px;}
	.meme.small.serious{background-position: -100px -50px;}
	.meme.small.megusta{background-position: -150px -50px;}
	.meme.small.lol{background-position: -200px -50px;}
	.meme.small.okay{background-position: 0 -100px;}
	.meme.small.fodase{background-position: -50px -100px;}
	.meme.small.troll{background-position: -100px -100px;}
	.meme.small.fap{background-position: -150px -100px;}
	.meme.small.cereal_guy{background-position: -200px -100px;}

.atributos{width:440px; margin:0 0 0 39px; float:left;}
	.meme_lv{float:left; width:140px;}
	.meme_lv .img{width: 113px; height:113px; overflow: hidden;}
	.meme_lv .meme{position:absolute; opacity:1; filter: alpha(opacity = 20); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}
	.meme_lv .meme:hover{opacity:0.2; filter: alpha(opacity = 100); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}
	.attrs{float:left; width:270px; font-size:14px;}
		.attrs .num{font-size:16px;}
	.score{float:left; width:130px; font-size:16px; line-height:35px; text-align:center;}
		.score a{color:#000;}
			.score a:hover{text-decoration:none;}
		.score .num{font-size:20px;}
		.exp{font-size:12px; width:126px; text-align:center; line-height:15px}
			.exp .barra{width:120px; height:19px; padding:6px 0 0 6px; background:url(../img/exp_bg.png);}
			.exp .barrinha{width:110px; height:10px; background:url(../img/exp_bar.png);}
	.armas_habilidades{list-style:none; margin:30px 0 0 0; padding:0; width: 460px;}
		.armas_habilidades li{float:left; width:208px; height:164px; background:url(../img/square_paper.png); text-align:center; padding-top:10px; font-size:16px; margin-right:20px;}
		.armas_habilidades li ul{list-style:none; padding:0; margin:5px 0 0 5px;}
		.armas_habilidades li ul li{margin:5px 0 0 0; padding:0; width:42px; height:42px;}
		.armas_habilidades li.armas ul, .armas_habilidades li.habilidades ul{padding-left: 5px;}
		.armas_habilidades li.armas ul li{background:url(../img/armas.png); }
		.armas_habilidades li.habilidades ul li{background:url(../img/habilidades.png);}
		.armas_habilidades li.badges ul li{margin-left:5px;}
		.armas_habilidades li.pupilos ul{margin-left: 15px;}
		.armas_habilidades li.pupilos ul li{width:50px; height:50px; margin-left: 2px;}
		.small_badge{cursor: pointer;}

.stream{width:244px; margin:25px 0 0 18px; padding:0; list-style:none;}
	.stream a{text-decoration: none!important; color: #000!important;}
	.stream a:hover{text-decoration: underline!important;}
	.stream li{margin-top:2px; padding:12px 9px 0 9px; background:url(../img/notice_white.png); width:226px; height:55px;}
	.stream li.green{background:url(../img/notice_green.png);}
	.stream li.red{background:url(../img/notice_red.png);}
	.stream li.friendship_request{height: 75px; background-size: 244px 87px;}

.lutar div{width: 204px; height: 45px; background: url(../img/fundo-lutar.png) no-repeat; padding: 15px 30px 0 15px; color: #222; text-align: center; margin: 0 0 0 10px;}
a.lutar{text-decoration: none; font-size: 14px;}
a.lutar:hover span{text-decoration: underline;}

.lutar.green div{background: url(../img/fundo-lutar-green.png) no-repeat;}
.lutar.disabled div{background: url(../img/fundo-lutar-disabled.png) no-repeat;}

.quem-mais, .quem-deveria{margin-top: 30px; float:left;}
	.quem-mais ul, .quem-deveria ul{margin: 0; padding: 0; list-style: none; margin-top: 10px;}
	.quem-mais li, .quem-deveria li{float: left; margin-right: 5px; width:50px; cursor: pointer;}
	.quem-mais img { width: 48px; margin-bottom: 10px }
.creditos{font-size:10px; font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; text-align: center; width:760px;}
.creditos a{color:#000; text-decoration: none;}
	.creditos a:hover{text-decoration: underline;}

.mais_lutas{list-style: none; margin: 0; padding: 0;}
	.mais_lutas li{float: left; margin-left: 35px; background-image: url(../img/fundos-compra.png); width: 203px; height: 172px; cursor: pointer;}
		.mais_lutas li.mais.um:hover{background-position: -203px 0;}
		.mais_lutas li.mais.tres:hover{background-position: -406px 0;}
		.mais_lutas li.mais.cinco:hover{background-position: -608px 0;}
		.mais_lutas li.roxo:hover{background-position: -1015px 0;}
		.mais_lutas li.azul:hover{background-position: -1218px 0;}
		.mais_lutas li.disabled:hover, .mais_lutas li.mais.disabled:hover{background-position: 0 0; cursor: auto;}
	.mais_lutas li .num{background-image: url(../img/quant_lutas.png); width:165px; height:59px; margin: 20px 0 20px 15px;}
	.mais_lutas li .num.en{background-image: url(../img/quant_lutas_en.png);}
		.mais_lutas li.mais.um .num{width:155px;}
		.mais_lutas li.mais.tres .num{background-position: -160px 0;}
		.mais_lutas li.mais.cinco .num{background-position: -334px 0;}
	.mais_lutas li .custo_creditos{margin-left: 60px;}
	.mais_lutas li .custo_creditos div{float: left;}
	.mais_lutas li .quant{font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif; padding: 15px 10px 0 0;}
	.arma_vip .icon{float:left; width: 45px; height: 46px; margin: 20px 10px 20px 25px;}
		.fire_sword .icon{background-image: url(../img/loja/fire_sword.gif)}
		.disabled .fire_sword .icon{background-image: url(../img/loja/fire_sword_pb.gif)}
		.ice_sword .icon{background-image: url(../img/loja/ice_sword.gif)}
		.disabled .ice_sword .icon{background-image: url(../img/loja/ice_sword_pb.gif)}
		.thunder_sword .icon{background-image: url(../img/loja/thunder_sword.gif)}
		.disabled .thunder_sword .icon{background-image: url(../img/loja/thunder_sword_pb.gif)}

		.darkness_sword .icon{background-image: url(../img/loja/darkness_sword.png); background-repeat:no-repeat}
		.disable .darkness_sword .icon{background-image: url(../img/loja/darkness_sword_pb.png); background-repeat:no-repeat}
		.knight_sword .icon{background-image: url(../img/loja/knight_sword.png); background-repeat:no-repeat}
		.disable .knight_sword .icon{background-image: url(../img/loja/knight_sword_pb.png); background-repeat:no-repeat}
		.dragun_sword .icon{background-image: url(../img/loja/dragun_sword.png); background-repeat:no-repeat}
		.disable .dragun_sword .icon{background-image: url(../img/loja/dragun_sword_pb.png); background-repeat:no-repeat}

	.arma_vip .text{float: left; width: 97px; height: 46px; margin-top: 20px;}
	.arma_vip .disabled .text{background-position: 0 -46px;}
		.fire_sword .text{background-image: url(../img/loja/fire_sword_text.png);}
		.fire_sword.en .text{background-image: url(../img/loja/fire_sword_text_en.png);}
		.ice_sword .text{background-image: url(../img/loja/ice_sword_text.png);}
		.ice_sword.en .text{background-image: url(../img/loja/ice_sword_text_en.png);}
		.thunder_sword .text{background-image: url(../img/loja/thunder_sword_text.png);}
		.thunder_sword.en .text{background-image: url(../img/loja/thunder_sword_text_en.png);}
		.darkness_sword .text{background-image: url(../img/loja/darkness_sword_text.png);}
		.darkness_sword.en .text{background-image: url(../img/loja/darkness_sword_text_en.png);}
		.knight_sword .text{background-image: url(../img/loja/knight_sword_text.png);}
		.knight_sword.en .text{background-image: url(../img/loja/knight_sword_text_en.png);}
		.dragun_sword .text{background-image: url(../img/loja/dragun_sword_text.png);}
		.dragun_sword.en .text{background-image: url(../img/loja/dragun_sword_text_en.png);}

.memes-arena{list-style: none; margin: 10px 0 0 0; width: 680px;}
	.memes-arena a{color:#000; text-decoration: none;}
	.memes-arena li{float: left; margin:20px 0 0 20px; width:111px;}
	.memes-arena li .foto{width: 111px; height: 111px; overflow: hidden;}
	.memes-arena li .level{width:111px; height:16px; text-align: center; margin-top: 3px;}
	.memes-arena li .meme{position:absolute; opacity:0.2; filter: alpha(opacity = 20); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}
	.memes-arena li:hover .meme{opacity:1; filter: alpha(opacity = 100); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}
	.memes-arena li .perfil{position: absolute; margin-top: -21px; background-color: #FFF; border: 1px solid #CCC; padding: 2px 6px 0 6px; height: 19px; width: 99px; overflow: hidden; opacity:0; filter: alpha(opacity = 0); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}
	.memes-arena li:hover .perfil{opacity:1; filter: alpha(opacity = 100); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}
	.memes-arena li .perfil a{text-decoration: none; color: #000;}
	.memes-arena li .perfil a:hover{text-decoration: underline;}
	a.link_luta{display: block; position: absolute; z-index:3; width: 113px; height: 113px;}

.busca{margin:5px 60px 0 0; background:url(../img/notice_white.png); width:219px; padding:10px 0 0 25px; height:57px; list-style:none; float: right;}

.tit-ranking{background-image: url(../img/fundo-ranking.png); width: 300px; height: 41px; font-size: 20px; padding:8px 0; text-align: center; margin-top:10px;}
.ranking{margin: 10px 0 0 0; list-style: none; padding: 0;}
	.ranking li{margin-top: 12px; float: none; border-bottom:1px solid #C3C3C3; padding-bottom: 5px;}
	a.link_ranking{text-decoration: none; color: #000;}
	.ranking li .pos{font-size: 30px; float: left;}
	.ranking li .img{width: 50px; height: 50px; margin:0 10px; float: left;}
	.ranking li .info{font-size: 16px; float: left; width:200px;}
	.ranking li .nome{margin-top: 5px;}
	.ranking li.first .pos{font-size: 40px;}
	.ranking li.first .img{width: 113px; height:113px; overflow: hidden;}
	.ranking li.first .info{font-size: 20px; width:150px;}
	.ranking li.first .nome{margin-top: 25px;}
	.ranking li.first .lv{margin-top: 10px;}
	.ranking li .meme{position:absolute; opacity:0.2; filter: alpha(opacity = 20); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}
	.ranking li:hover .meme{opacity:1; filter: alpha(opacity = 100); transition: opacity 0.5s linear; -moz-transition: opacity 0.5s linear; -o-transition: opacity 0.5s linear; -webkit-transition: opacity 0.5s linear;}

.fight_ranking{list-style: none; margin:0 40px 30px -10px;}
	.fight_ranking li{font-size: 14px; padding:10px 20px; border-top:1px dashed #CCC;}
	.fight_ranking a{color:#333; text-decoration: none;}
	.fight_ranking a:hover span{text-decoration: underline;}
	.fight_ranking .stats{float:right;}

.venceu{font-size: 70px; text-align: center; position: absolute; display: none; margin: -20px 0 0 183px; width: 400px;}
	.venceu .win{margin: -10px 0 15px 0;}
	.venceu small{font-size: 26px;}
	.venceu a{text-decoration: none; color: #000;}
	.venceu .txt{margin-left: 14px;}
	.venceu a:hover .txt{text-decoration: underline;}
	.menu_luta{list-style: none; margin: 0; font-size: 16px; margin-left: 55px;}
		.menu_luta li{margin-top: 5px;}
		.menu_luta li div{float: left;}


.comentarios{margin-left:30px; float: left;}
.redes{float: left; margin:0 0 0 20px; width:210px;}

.carregando{display: none;}
.carregando, .backlight{position: fixed; top:0; left:0; z-index:999; background-color: #666; opacity:0.5; filter: alpha(opacity = 50); width:100%; height:100%;}
.carregando img{width:128px; height:128px; margin-top: 150px;}
.backlight{display: none;}

.badge{position: absolute; display: none; z-index:1000; width: 576px; height:576px; margin: 200px 0 0 92px; color: #fff; text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black; -webkit-text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black; -moz-text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black; -o-text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;}
	.badge .texto{text-align: center; margin-top:10px; position: absolute; z-index: 1001; width:556px; margin-left: 10px; font-weight: bold; font-family: Helvetica, Arial, sans-serif;}
	.texto.cima{font-size: 58px;}
	.texto.baixo{font-size: 50px; position: relative;}

.notice{float: left; padding-left: 10px;}
.link_indicacao{float: right;}

.help{width: 16px; height: 16px; margin:0 5px; background-image: url(../img/icons/help.png); cursor: pointer; float: right;}
	.help .box{display: none; position: absolute; background-image: url(../img/balao-perfil.png); width: 152px; height: 54px; margin: -80px 0 0 -150px; padding: 7px 7px 20px 7px; opacity:0; z-index:11; filter: alpha(opacity = 0); transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; align-items: center;}
	.help:hover .box{display: flex; opacity:1; filter: alpha(opacity = 100); transition: opacity 0.2s linear; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear}

.chave{margin:40px 0 0 20px;}
.chave td{background-position: center center; background-repeat: no-repeat; height: 50px; text-align: center}
.chave img{border:1px solid #999;}
.chave a.vs{width: 41px; height: 33px; text-decoration: none; color: #444; font-size: 20px; font-family: "Gloria Hallelujah","Lucida Grande", Verdana, Arial, Helvetica, sans-serif; background: url(../img/chaves/bg-vs.png) center center no-repeat;}
.chave a.vs.mini{display: block; position: absolute; margin: -18px 0 0 -14px;}
.chave a.vs:hover{background-image: url(../img/chaves/bg-vs-hover.png);}
td.v{background-image: url(../img/chaves/v.gif);}
td.h{background-image: url(../img/chaves/h.gif);}
td.t{background-image: url(../img/chaves/t.gif);}
td.l{background-image: url(../img/chaves/l.gif);}
td.r{background-image: url(../img/chaves/r.gif);}

#contador{font-size:16px;}
#contador span{font-size:30px;}

.rank{background: url(../img/ranks.png) no-repeat; width:45px; height:45px; margin:-2px 0 0 10px;}

.pupilos{list-style: none; margin: 0 20px 0 0; padding: 0; width:740px;}
	.pupilos li{float: left; margin:0 10px 10px 0;}


.seta{width: 36px; height: 101px; background: url(../img/setas-armas.png) no-repeat; position: absolute; cursor: pointer; margin: 0 0 0 -20px;}
.seta.dir{width: 38px; height: 99px; background-position: -36px 0; margin: 0 0 0 184px;}
.carousel{width: 178px; overflow: hidden; position: relative; float: left;}
	.carousel .wrapper{position: relative;}
	.carousel ul{position: relative; width: 168px; padding: 0; margin: 0; float: left; background: none;}

.player.me img{outline:0; border-color:#6C0; box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(102, 204, 0, 0.6);}

.modal-overlay { z-index: 10; position: fixed; display: none; background: rgba(0, 0, 0, 0.2); width: 100%; height: 100%; top: 0; left: 0; }
.modal { z-index: 11; position: fixed; display: none; background: #FFF url(../img/bg.jpg) center 0; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 300px; padding: 5px 20px; box-shadow: 5px 5px 5px rgba(0,0,0,.3) }